html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

h1, h2 {
    font-weight: 500;
}

.card-deck {
    margin: 20px auto;
    position: relative;
    height: 450px;
    width: 50%;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.card {
    background-color: white;
    background-size: cover;
    position: absolute;
    background: #FFFFFF;
    height: 400px;
    width: 250px;
    margin: 0 auto;
    transition: box-shadow .3s;
    border: 1px solid #e5e5e5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-align: left;
    cursor: pointer;
}

.card-text {
    margin-top: 275px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-title {
    position: absolute;
    margin-left: 20px;
}

.card-image {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: 10px;
    height: 250px;
    width: 230px;
}

.card-move-color {
    position: absolute;
    height: 100%;
    width: 100%;
}

.card-overlay {
    width: 75%;
    height: 50%;
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.card-overlay-text {
    position: relative;
    color: #FFFFFF;
    text-transform: uppercase;
    top: 75%;
}

.animate {
    transition: transform .3s;
    box-shadow: none;
}

.inactive {
    box-shadow: none;
}

.alert {
    width: 30px;
    height: 25px;
    position: absolute;
    top: 0;
    z-index: 9999;
    opacity: 0;
    transition: opacity .5s;
    color: white;
    vertical-align: middle;
    line-height: 3rem;
}

.alert-visible {
    opacity: 1;
}

.alert-up {
    width: 50px;
    right: 40%;
    top: 0;
    background: gray;
    border-radius: 25px;
}

.alert-right {
    right: 0;
    background: green;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.alert-down {
    width: 50px;
    right: 40%;
    top: 90%;
    background: blue;
    border-radius: 25px;
}

.alert-left {
    left: 0;
    background: red;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

